label.required:after {
    content: " *";
    color: red;
}

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 8px 2px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #3399ff;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 12px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.hidden {
    display: none !important
}


.parentText {
    font-weight: bold;
    /*font-style: oblique;*/
    background-color: #FCFBFB;

}

.childText {
    text-indent: 5%;
}

/* --------------------------------------- */
/* ############### SIGN IN ############### */
/* --------------------------------------- */
.signin-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (min-width: 576px) {
    .signin-wrapper {
        padding: 30px;
    }
}

.signin-box {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 20px;
}

@media (min-width: 480px) {
    .signin-box {
        padding: 40px;
    }
}

.signin-box .slim-logo {
    margin-right: 0;
    margin-bottom: 40px;
}

.signin-box.signup {
    width: 500px;
}

.signin-box.signup .btn-signin {
    margin-bottom: 20px;
}

.signin-title-primary {
    font-weight: 300;
    color: #212529;
}

.signin-title-secondary {
    font-weight: 300;
    margin-bottom: 50px;
}

.btn-signin {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border: 0;
    min-height: 40px;
    background-image: linear-gradient(to right, #1b84e7 0%, #4085a8 100%);
    background-repeat: repeat-x;
}

.signin-left,
.signin-right {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

@media (min-width: 768px) {
    .signin-left,
    .signin-right {
        width: 50%;
    }
}

.signin-left .signin-box,
.signin-right .signin-box {
    border: 0;
    padding: 0;
}

.signin-left .signin-box {
    background-color: transparent;
}

.signin-right {
    background-color: #fff;
}

.signup-separator {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.signup-separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}

.signup-separator span {
    background-color: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

.btn-facebook {
    background-color: #4267B2;
    color: #fff;
}

.btn-twitter {
    background-color: #1DA1F2;
    color: #fff;
}

/********** RTL SUPPORT **********/
/*********************************/
[dir="rtl"] .signin-box {
    text-align: right;
}


/*
.myGlower {
    background-color: gray;
    color: white;
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 1s linear, box-shadow 1s linear;
    -moz-transition: border 1s linear, box-shadow 1s linear;
    transition: border 1s linear, box-shadow 1s linear;
}


.navigation_table td .myGlower {
    position: relative;
}

.navigation_table td.myGlower:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    !*border: 1px solid #467fff !important;*!
}*/


.myGlower {
    background-color: gray;
    color: white;
    -webkit-animation: glow 1.0s infinite alternate;
    -webkit-transition: border 1s linear, box-shadow 1s linear;
    -moz-transition: border 1s linear, box-shadow 1s linear;
    transition: border 1s linear, box-shadow 1s linear;
}

.navigatable_table td.myGlower {
    position: relative;
}

.navigatable_table td.myGlower:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #467fff !important;
}